<!DOCTYPE html>
<html lang="en">
<head>
      
    <title>Display</title>
</head>
<body>
    <h1>Display Customer Data</h1>
    <h4>Gender = {{u_data['gender']}}  Married = {{u_data['married']}}  </h4>
    <h4>Dependents = {{u_data['dependents']}}</h4>
    <h4>Education = {{u_data['education']}}</h4>
    <h4>Self_Employed = {{u_data['self_employed']}}</h4>
    <h4>Loan_Amount_Term = {{u_data['loan_term']}}</h4>
    <h4>Credit_History = {{u_data['credit_history']}}</h4>
    <h4>Property_Area = {{u_data['property_area']}}</h4>
    <h4>log_LoanAmount= {{u_data['loan_amt']}}</h4>
    <h4>Applicant Income ={{u_data['applicant_income']}}</h4>
    <h4>Co_Applicant Income ={{u_data['co_applicant_income']}}</h4>

    <h1>Loan Approved Status = {{status_ln}}</h1>
</body>
</html>